body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  margin: 0;
}

h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

button {
  background-color: #3882f6;
}

.right a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  padding: 10px;
}

.header,
.hero,
.footer {
  background-color: #1f2937;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #f9fafb;
  padding: 20px 0px 20px 200px;
}

.left {
  font-size: 24px;
  margin-right: auto;
}

.right {
  display: flex;
  margin-left: auto;
  padding-right: 100px;
}

.hero {
  display: flex;
  color: #f9fafb;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 50px;
  flex-basis: 400px;
}

.hero button {
  display: block;
  text-align: center;
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
}

.hero-img img {
  width: 500px;
  height: 350px;
}

.info {
  align-items: center;
  padding: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.cards img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 4px solid #3882f6;
  border-radius: 15px;
  margin: 5px 20px;
}

.cards p {
  width: 200px;
  margin: 0px 20px;
}

.quote {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 100px 200px;
}

.quote p {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}

.quote b {
  text-align: right;
  font-size: 20px;
}
